* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(138, 4, 127);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}


.login-card {
    background-color: rgb(255, 0, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}


.login-card input {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
}

.login-card button {
    background-color:rgb(138, 4, 127);
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
}

.login-card h1 {
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

.login-card p {
    font-size: 15px;
}